    $color-primary:#ff385c;
    $color-primary-sub:#fe9cae;
    $color-dark:#222222;
    $color-grey:#7e7e7e;
    $color-grey2:#ececec4d;
    $color-grey3:#727272;
    $color-grey4:#e0e0e0;
    $color-white:#ffff;
    $color-light:#fdfafd;
    $color-blue:#1f72ee;
    $color-dark2:#3d3d3d;
    $color-shadow-dark:rgba(0,0,0,0.46);
    $color-shadow-light:#ffffff5d;

    body{
        --color-primary:#{$color-primary};
        --color-secondary:#{$color-grey2};
        --color-grey:#{$color-grey};
        --color-background-primary:#{$color-white};
        --color-background-body:#{$color-white};
        --color-text:#{$color-dark};
        --color-text-box:#{$color-dark2};
        --color-text-secondary:#{$color-dark2};
        --color-bg-box:#{$color-light};
        --color-hover-1:#{$color-grey3};
        --color-card-hover:#{$color-grey};
        --color-shadow:#{$color-shadow-dark};

    }

    body.dark-theme{
        --color-primary:#{$color-light};
        --color-secondary:#{$color-dark};
        --color-grey:#{$color-grey};
        --color-background-primary:#{$color-dark};
        --color-background-body:#{$color-grey};
        --color-text:#{$color-light};
        --color-text-box:#{$color-dark2};
        --color-text-secondary:#{$color-light};
        --color-bg-box:#{$color-grey2};
        --color-hover-1:#{$color-grey3};
        --color-card-hover:#{$color-grey2};
        --color-shadow:#{$color-shadow-light};
    }

    $fontWeight: ("lighter":100, "light":300, "normal":400, "semibold":500, "bold":700, "bolder":800);

    @each $key,$value in $fontWeight {
        .fw-#{$key}{
            font-weight: $value;
        }
    }

    $fw-lighter:100;
    $fw-light:300;
    $fw-normal:400;
    $fw-semibold:500;
    $fw-bold:700;
    $fw-bolder:800;

   $fs:("1":14px,"2":16px,"3":18px,"4":20px,"5":24px,"6":30px);

   @each $key,$value in $fs{
        .fs-#{$key}{
            font-size:#{$value};
        }
   }

   $fs-1:14px;
   $fs-2:16px;
   $fs-3:18px;
   $fs-4:20px;
   $fs-5:24px;
   $fs-6:30px;


    .mainHover{
        &:hover{
            color:var(--color-primary);
        }
    }

    .searchNavHover{
        &:hover{
            background-color: $color-grey4;
        }
        &:active{
            background-color: $color-grey4;
        }
        &:focus{
            background-color: $color-grey4;
        }
    }
    .hoverNavBlue{
        &:hover{
            color:$color-blue;
        }
    }
