.logo{
        color:var(--color-primary);
    
    }
.searchNav{
    border: 1px solid rgb(158, 158, 158);
    box-shadow: 0px 0px 44px 11px rgba(0,0,0,0.1);
    span{
        padding: 0 10px;
        font-weight: 500;
        color:$color-dark
    }
    span:last-of-type{
        color:$color-grey;
        i{
            background-color: $color-primary;
            padding: 10px;
            border-radius: 20px;
            color: aliceblue;
            font-size: 14px;
        }
    }
    &:hover{
        box-shadow: 0px 7px 18px -2px var(--color-shadow);
    }
}
.settingButton{
    a{
        margin: 0 15px;
        @extend .mainHover;
    }

    button{
        margin: 0 10px;
    }
    button:first-of-type{
        @extend .mainHover;
    }
    .btn-theme{
        min-width: 20px;
    }
    .loginButton{
        background-color: white;
        color:$color-grey;
        i:first-of-type{
            font-size: 20px;
        }
        i:last-of-type{
            font-size: 33px;
        }
        &:hover{
            box-shadow: 0px 7px 18px -2px ;
        }
    }
    .dropdown-menu{
        min-width: 250px;
        background-color: var(--color-bg-box);
        box-shadow: 0px 7px 18px -2px $color-shadow-dark;
        li{
            a{
                width: 100%;
                margin:  0;
                padding: 10px 20px;
                color:var(--color-text-box);
                
                &:active{
                    background-color: var(--color-hover-1);
                 }
                 &:hover{
                    background-color: var(--color-hover-1);
                    color:$color-light;
                 }
            }
            
        }
        li:first-of-type{
            a{
                font-weight: $fw-bold;
            }
        }
    }
}