@import './helpers/helpers.scss';
@import './utils/default.scss';

body{
    header{
        position: fixed;
        width: 100%;
        z-index: 5;
        background-color: var(--color-background-primary);
        @import './components/header.scss';
    }
    .body{
        min-height: 70vh;
        padding-top: 100px;
        background-color: var(--color-background-body);
        @import './pages/homepage.scss';
        @import './pages/listRoomPage.scss';
        @import './pages/detailpage.scss';
    }
    footer{
        background-color: var(--color-secondary);
        @import './components/footer.scss';
    }
}

#admin-page{
    .navbarAdmin{
        .navHeader{
            .navMenuHeader{
                padding: 20px;
                background-color: $color-grey4;
                .navTitle{
                    color:$color-primary;
                    font-weight: $fw-semibold;
                    font-size: $fs-4;
                    
                }
                .toogleBtn{

                }
            }
            .navMenu{
                padding: 20px;
                a{
                    @extend .mainHover;
                }

            }
        }
    }
    .content{
        .headerAdmin{
            padding: 20px;
            font-size: $fs-4;
            flex-grow: 0;
            background-color: $color-primary;
            color: $color-light;
            .name{
                font-size: inherit;
                @extend .hoverNavBlue;
                
            }
            .icon{
                margin: 0 20px;
                color: inherit;
                @extend .hoverNavBlue;
            }
            .directIcon{
                color: inherit;
                @extend .hoverNavBlue;
            }
        }
        .contentPage{
            flex-grow: 10;
            @import './pages/adminpage/userManagerPage.scss';
        }
    }
}