@import './helpers/helpers.scss';
@import './utils/default.scss';

body{
    header{
        background-color: var(--color-background-primary);
        @import './components/header.scss';
    }
    .body{
        min-height: 70vh;
    }
    footer{
        background-color: var(--color-secondary);
        @import './components/footer.scss';
    }
}